/*GENERALITE*/
#half1, #half2
{
  width: 50%;
  height: 40em;
}

h1, p
{
  font-weight: normal;
}

.ensemble
{
  display: flex
}

.bloc
{
  flex-direction: row;
}


/*1ère MOITIE*/
#half1
{
  background-image: url('../image/enkel-dika-13-jesus-riding-dinosaur.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#half1 h1
{
  color: white;
  font-size: 2.5em;
  text-align: center;
  border: 2px solid white;
  border-radius: 1px;
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
}

/*2ème MOITIE*/
#half2 h1, #half2 p
{
  padding-left: 5%;
}

#half2 h1
{
  padding-top: 5%;
  font-size: 2.5em;
}
