@font-face {
    font-family: "Roboto";
    src: url('../Fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font: normal 1rem 'Roboto', sans-serif;
}

section {
    height: 100vh;
}

.monkey h1 {
    font-size: 1.7rem;
    color: white;
    margin: 40px;
    padding: 10px;
    border: 2px solid white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section .monkey {
    align-items: center;
    background-color: white;
    background-image: url(../Images/Monkey.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 50%;
    margin: 0;
}

.content {
    padding: 20px 80px;
    background-color: white;
    width: 50%;
    margin: 0;
}

.content h1 {
    font-size: 1.7rem;
    margin-bottom: 80px;
}

.content p {
    color: gray;
}

.gitbutton {
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
}

.fa {
    padding-right: 5px;
}

.content .interact {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.email {
    font-size: 30px;
    border-radius: 4px;
    margin-right: 10px;
}

.greenbutton {
    background-color: limegreen;
    color: white;
    margin-right: 10px;
}