@font-face {
    font-family: 'GNU Freefont';
    src: local('../fonts/FreeSans.woff');
}

html, body {
    font-family: "GNU Freefont";
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.landing_button {
    border: none;
    border-radius: 3px;
    padding: .5em 1em;
}

.landing_input {
    box-sizing: border-box;
    height: 3.2em;
    vertical-align: middle;
    padding-left: 1em;
}

#cat {
    background: saddlebrown url('../images/cat.jpeg') no-repeat 70%;
    background-size: cover;
    flex-basis: 50%;
    text-align: center;
}

#cat h1 {
    border: 2px solid white;
    color: white;
    display: inline-block;
    font-size: 2.5em;
    margin-top: 2em;
    padding: .5em 3em;
}

#deploying {
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 2.5em 5em;
}

#deploying h1 {
    font-size: 3em;
    margin-bottom: 2em;
}

#deploying p {
    margin-bottom: 3em;
}

#deploying input:not([type='button']) {
    border: 2px solid silver;
}

#deploying input[type='button'] {
    background-color: darkolivegreen;
    color: white;
    padding: 1em 2em;
}
