@font-face {
    font-family: "Roboto";
    src: url('../Fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf");
    font-weight: bold;
}


/*
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}
*/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font: normal 1rem 'Roboto', sans-serif;
}

section {
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: white;
    margin: 40px;
    padding: 5px;
    border: 2px solid white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section .monkey {
    align-items: center;
    background-color: deepskyblue;
    background-image: url(../Images/Monkey.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 50%;
    margin: 0;
}

.content {
    background-color: #ecf0f1;
    width: 50%;
    margin: 0;
}