body {
    font-size: 100%;
}

.row {
    height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

.imagecontent {
    background: peachpuff url("../images/Cat.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    /* required to prevent image clipping when resizing to sm */
    overflow: hidden;
}

.imagecontent .title {
    color: white;
    margin: 40px;
    padding: 10px;
    border: 2px solid white;
    text-align: center;
}

.textcontent {
    padding: 20px 50px;
    /* box-sizing required to silent ccslint alert */
    box-sizing: border-box;
    background-color: white;
    height: 100%;
}

.textcontent .title {
    margin-bottom: 80px;
}

.textcontent p {
    color: #555;
    font-size: 1.7rem;
}

.fa-github {
    padding-right: 5px;
    /* required in order to align text with image */
    vertical-align: middle;
}

.btn-default {
    margin: 30px 0;
    font-weight: bold;
}

form {
    margin-top: 60px;
}

.form-control,
.btn-success {
    margin-right: 10px;
}