body {
	margin: 0px;
}

#pre_last_bloc {
	width: 100%;
	height: 25em;
	background-color:#323A45;
	margin: 0px;
}

#pre_last_bloc h2 {
	color: white;
	text-align: center;
	font-weight: lighter;
	font-size: 170%;
	margin: 0px;
	padding-top: 3.5em;
}

span {
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

body {

    background-color: aquamarine;
    background-color: red;

}
html, body {
    height: 100%;
    width: 100%;
}


*{
	margin: 0;
	padding: 0;
}

header{
	background: url('images/headerbg.jpg');
	background-size: cover;
	width: 100%;
	height: 70vh;
	padding-top: 10px;
}

.logo{
	float: left;
	color: white;
}

header>nav>ul{
	float: right;
}

header>nav>ul>li{
	display: inline-block;
	margin-right: 20px;
	height: 40px;
	line-height: 40px;
	color: white;
}

header>nav>ul>li:hover{
	color: red;
	transition: color 0.5s;
}

.sign{
	border: red 1px solid;
	border-radius: 4px;
	color: red;
	padding: 0 10px 0 10px;
}
h1 {
	font-size: 5em;
	color: pink;
}

#cyan_box {
    background-color: cyan;
    margin-top: 5em;
    width: 100%;
    height: 20em;
}

 #content {
 	border: 2px solid green;
 }

.heart{
    position: relative;
    width: 100px;
    height: 90px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

 #content {
 	border: 2px solid green;
 }

 #content {
 	border: 2px solid green;
 }


 #content {
 	border: 2px solid green;
 }

footer{
	background-color: red;
	text-align: center;
}
