<<<<<<< HEAD
<<<<<<< Updated upstream
<<<<<<< HEAD
=======
* {
	box-sizing: border-box;
}

>>>>>>> e959bfa346e73f963857beff15f9b53bec23ef68
body {
    background-color: aquamarine;
}
html, body {
    height: 100%;
    width: 100%;
}

<<<<<<< HEAD
>>>>>>> Test
=======
*{
	margin: 0;
	padding: 0;
}

header{
	background: url('images/headerbg.jpg');
	background-size: cover;
	width: 100%;
	height: 70vh;
	padding-top: 10px;
}

.logo{
	float: left;
	color: white;
}

header>nav>ul{
	float: right;
}

header>nav>ul>li{
	display: inline-block;
	margin-right: 20px;
	height: 40px;
	line-height: 40px;
	color: white;
}

header>nav>ul>li:hover{
	color: red;
	transition: color 0.5s;
}

.sign{
	border: red 1px solid;
	border-radius: 4px;
	color: red;
	padding: 0 10px 0 10px;
}
>>>>>>> Stashed changes
=======
h1 {
	font-size: 5em;
	color: pink;
}

#cyan_box {
    background-color: cyan;
    margin-top: 5em;
    width: 100%;
    height: 20em;
}
>>>>>>> e959bfa346e73f963857beff15f9b53bec23ef68
