body{
	width: 100%;
	height: 100%;
	position: relative;
	font-family:'Open Sans', sans-serif;
}
article .cat {
	width: 42%;
	height: 500px;
	position: relative;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(chat-chaton-10967737jdzvx_1713.jpg);
	padding-left: 100px;
	vertical-align: top;
}
article .cat h1{
	border-width:2px;
	border-style:groove;
	border-color:white;
	width: 389px;
	text-align: center;
	color: white;
}
article .text {
	width: 49%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
article .text h1 {
		margin-left: 30px;
		margin-top: 10px;
	 padding-bottom: 10px;
}
article .text p {
	margin-left: 30px;
}
article .text .blabla p {
	padding-top: 10px;
	position: relative;
	width: 80%;
}
article .bouton p  {
	line-height:30px;
	vertical-align:middle;
	color:#C0C0C0;
	border: solid 1px;
	border-radius: 2px;
	margin: 0px;
	width: 68px;
	text-align: center;
	margin-left: 30px;
}
article .bouton p a {
	text-decoration:none;
	color: black;
}
span {
	font-weight: bold;
}
article .text .lesboutons {
	position: relative;
	width: 100%;
	display: flex;
	padding-top: 10px;
}
article .text .lesboutons .test p {
	position: relative;
	line-height:30px;
	vertical-align:middle;
	color:#C0C0C0;
	border: solid 1px;
	border-radius: 3px;
	margin: 0px;
	width: 175px;
	margin-left: 30px;
	display: inline;
	text-align: left;
	margin-right: 10px;
	padding:4px 140px 4px 0px;
}

article .text .lesboutons .test p a{
	text-decoration:none;
	color: rgb(113, 117, 137);
}

article .text .lesboutons .prem p {
	position: relative;
	line-height:30px;
	vertical-align:middle;
	color:#C0C0C0;
	border: solid 1px;
	border-radius: 3px;
	margin: 0px;
	width: 175px;
	text-align: center;
	margin-left: 0px;
	background-color: rgb(64, 143, 39);
	display: inline;
	padding:4px 30px 4px 30px;

}
article .text .lesboutons .prem p a{
	text-decoration:none;
	color:white;
}
article .text .lesboutons .sub p{
  position: relative; top:5px;
	display:inline;
	margin:10px;
}
