* {
	box-sizing: border-box;
}

body {
    background-color: aquamarine;
}
html, body {
    height: 100%;
    width: 100%;
}

h1 {
	font-size: 5em;
	color: pink;
}

#cyan_box {
    background-color: cyan;
    margin-top: 5em;
    width: 100%;
    height: 20em;
}
