* {
	box-sizing: border-box;
}

body {
    background-color: aquamarine;
}
html, body {
    height: 100%;
    width: 100%;
}

h1 {
	font-size: 5em;
	color: pink;
}

<<<<<<< HEAD

=======
#cyan_box {
    background-color: cyan;
    margin-top: 5em;
    width: 100%;
    height: 20em;
}
<<<<<<< HEAD
<<<<<<< HEAD
#callRandome{}
=======
>>>>>>> 0f321af379997281141b852e60c36e65bae86e57
=======
>>>>>>> 1f423af0eaa0fa75743cd9ff8235fdaa20421ec0


=======
 #content {
 	border: 2px solid green;
 }
>>>>>>> bcb8ab1c65f0eddccfbd5e3a3bbd5e4fcf6b097d
>>>>>>> 5f5fa1768daa0313936bc0a34268bbfcb9ef3816
footer{
	background-color: red;
}
