html{
	height: 100%;
	width: 100%;

}
.left{
	position: absolute;
	background: url(image/goodCat.jpg); ;
	background-size: cover;
	color: white;
	width:50%;
	height: 600px;
}
.left h1{
position: relative;
border: 2px solid;
padding-top: 7%;
text-align: center;
padding: 2% 0 2% 0;
margin: 0% 13% 0 13%;
margin-top: 5%;
}
.fork{font-weight: bold;}

.right{
	background-size: cover;
	width:45%;
	height: 600px;
	float: right;
	margin-top: 2%;
	}
	
.grey{color: rgb(113,117,137);}

.prems{

	background-color: green;
	color : white;
}