
.block-gauche {
	float: left;
	width: 50%;
	height: 900px;
	background-image: url("img/chat.png"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 0;
	}

.titre1 {
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
	border: 3px solid white;
	color: white;
	text-align: center;
	padding: 20px 0 20px 0;
}


.block-droite {
	float: left;
	width: 50%;
	height: 900px;
}

.titre2 {
	padding: 40px;
	color: grey;
}

.texte{
	margin-left: 40px;
	padding-bottom: 20px ;
}

.fork {
	width: 40px;
	height: 40px;
}

.test {
	text-align: center;
	vertical-align: center;
}
