body{
  font-family: 'Cabin', sans-serif;
}
main{
  position: relative;
  height: 655px;

}
main section{
  width: 49.7%;
  height: 100%;
  margin: auto;
  display: inline-block;
  vertical-align: top;
}
.left{
  text-align: center;
  font-size: 35px;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.left h1{
  width: 80%;
  color: white;
  border: 2px solid white;
  margin: 10% auto;
}
.right *{
  width: 90%;
  position: relative;
  margin: auto;
  text-align: left;
}
.right h1{
  font-size: 35px;
  font-weight: bold;
  margin-top: 10%;
}
.right h3{
  position: relative;
  margin-top: 9%;
  font-size: 20px;
}
.right span img{
  position: relative;
  width: 13%;
  margin-top: 5%;
  margin-left: 5%;

}
.champs{
  position: relative;
  width: 90%;
  margin: 8% 5%;
  display: inline-block;
}
.champs h5{
  width: 10%;
  display: inline-block;
  background-color: rgb(34, 124, 11);
  padding: 2%;
  border-radius: 3px;
  color: white;
  text-align: center;
}
.champs h6{
  width: 10%;
  display: inline-block;
  font-size: 18px;
}
input[type=text]{
  width: 30%;
  height: 30px;
  border-radius: 1px;
}
