body {
	margin: 0;
	padding: 0;
}

#gauche {
	width: 50%;
	height: 800px;
	float: left;
	background: url("images/chien_lol.jpg") center;
	background-size: cover;
	text-align: center;
}

#gauche h1 {
	color: white;
	border: 2px solid white;
	width: 75%;
	height: 50px;
	margin: auto;
	margin-top: 7%;
	padding: auto;

#droite {
	width: 50%;
	float: right;
}

