body {
	margin: 0;
	padding: 0;
}

#gauche {
	width: 50%;
	height: 800px;
	float: left;
	background: url("images/chien_lol.jpg") center;
	background-size: cover;
	text-align: center;
}

#gauche h1 {
	color: white;
	border: 2px solid white;
	width: 75%;
	/*height: 80px;*/
	margin: auto;
	margin-top: 7%;
	padding: 10px 0;
}

#droite {
	width: 50%;
	float: right;
}

#container {
	margin: 30px;
}
#container h1 {
	color:#252325;
}
#container p {
	margin-top: 80px;
}
#bouton_fork {
	width: 15%;
	border: 1px solid black;
	border-radius: 8px;
	margin-top: 30px;
}

#bouton_fork p {
	margin: 0;
	padding-top: 4px;
	padding-right: 5px;
	vertical-align: top;
	float: right;

}
img {
	width: 50%;
	 border-radius: 50px;
}

