.container {
  display: inline-flex;
  background-color: rgb(211, 211, 211);;
}


.block1 {
  display: inline-block;
  background-image: url("../images/La-video-cute-du-jour-le-chat-qui-trotte.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 700px;
  height: 800px;
}

.block1 p {
  border: solid 3px rgb(29, 172, 136);
  padding: 20px;
  text-align: center;
  width: 550px;
  color: rgb(29, 172, 136);
  margin-left: 50px;
  font-size: 3em;
}

.block2 {
  display: inline-block;
  width: 700px;
  height: 800px;
}


.texteblock2 {
  display: inline-block;
  width: 500px;
  height: 500px;
  margin: 80px;
}

.texteblock2 {
  font-size: 23px;
}

#bouton {
  position: relative;
  margin-top: -100px;
  margin-left: 50px;
}

#bouton1 {
  background-color: white;
  border: 5px rgb(29, 172, 136);
  padding: 10px;
  color: rgb(29, 172, 136);
  display: inline-block;
  width: 200px;
  height: 20px;
}

#bouton2 {
  background-color: rgb(29, 172, 136);
  border: 5px none;
  padding: 10px;
  color: white;
  display: inline-block;
  width: 70px;
  height: 20px;
}

#bouton3 {
  border: 5px none;
  padding: 10px;
  color: white;
  display: inline-block;
  width: 200px;
  height: 20px;
}
